 <!--header -->
 <div id="header-wrap">
    <header>

      <hgroup>
        <h1><a href="/">Mytrends</a></h1>
        <h3>Just Another web app for your futur trends </h3>
      </hgroup>


      <nav>
        <ul>
          <li id="current"><a href="/">Home</a><span></span></li>
          <li><a href="style.html">Popular</a><span></span></li>
          <li><a href="blog.html">Top</a><span></span></li>
          <li><a href="index.html">Support</a><span></span></li>
          <li><a href="index.html">About us</a><span></span></li>
        </ul>
      </nav>

      <div class="subscribe">
		
		
        <button type="button" class="btn btn-outline-info">Log In</button>


      </div>

      <form id="quick-search" method="get" action="index.html">
        <fieldset class="search">
          <label for="qsearch">Search:</label>
          <input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="Start typing and hit ENTER" />
          <button class="btn" title="Submit Search">Search</button>
        </fieldset>
      </form>

      <!--/header-->
    </header>
  </div>